p {
    text-align: center;
    position: relative; 
    top: 90px;
    font-size: xx-large;
  }
  .p1, .p3{
    color: #FF6B00;
  }

  .p3 {
    text-align: center;
  }

  .p4{
  position: relative; left: -100px;
  }
  .p5{
    position: relative; left: 140px;
  }