p {
    text-align: center;
    position: relative; 
    top: 100px;
    font-size: xx-large;
    clear: left;
  }
  
  .p1, .p3{
    color: #FF6B00;
  }

  .p4{
  position: relative; 
  left: -100px;
  }

  .p5{
    position: relative; left: 140px;
  }